@import 'tailwindcss';

@source '../*.html';
@custom-variant hover (&:hover);

@theme {
  --font-serif: 'Poppins', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 36px;
  --text-4xl: 64px;
  --text-5xl: 72px;
  --text-6xl: 80px;
  /* Brand Colors  */
  --color-brand-black-400: #2c323f;
  --color-brand-black: #111827;
  --color-brand-gray-400: #5d6570;
  --color-brand-gray: #4b5563;
  --color-brand-gray-600: #3d444e;
  --color-brand-blue-400: #23b2f2;
  --color-brand-blue: #0ea5e9;
  --color-brand-blue-600: #0e9cdc;
  --color-brand-silver-400: #efeff0;
  --color-brand-silver: #e5e7eb;
  --color-brand-silver-600: #dcdfe3;
  --color-brand-cloud-400: #f0f1f4;
  --color-brand-cloud: #f8f8f8;
  --color-brand-cloud-600: #e2e3e5;
}
@layer base {
  :root {
    font-size: var(--text-base);
    font-family: var(--font-serif);
    color: var(--color-brand-black);
    accent-color: var(--color-brand-blue);
    ::selection {
      background-color: var(--color-brand-blue);
      color: var(--color-brand-cloud);
    }
  }
  * {
    @apply box-border;
  }

  h1,
  .h1 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--text-3xl);
    @variant lg {
      font-size: var(--text-4xl);
    }
  }
  h2,
  .h2 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--text-2xl);
    @variant lg {
      font-size: var(--text-3xl);
    }
  }
  h3,
  .h3 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--text-xl);
    @variant lg {
      font-size: var(--text-2xl);
    }
  }
  h4,
  .h4 {
    line-height: 1.2;
    font-weight: 500;
    font-size: var(--text-base);
    @variant lg {
      font-size: var(--text-lg);
    }
  }
  h5,
  .h5 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--text-sm);
    @variant lg {
      font-size: var(--text-base);
    }
  }
  h6,
  .h6 {
    line-height: 1.2;
    font-weight: 600;
    font-size: var(--text-xs);
    @variant lg {
      font-size: var(--text-sm);
    }
  }
  label {
    @apply block font-semibold mb-2;
  }
}
@layer components {
  .button {
    @apply inline-flex items-center gap-2.5 bg-brand-black text-white rounded-full py-3.5 px-9 cursor-pointer hover:bg-brand-black-400 active:bg-black transition border border-transparent outline-offset-1;
  }
  .button.gray {
    @apply bg-brand-gray hover:bg-brand-gray-400 active:bg-brand-gray-600;
  }
  .button.blue {
    @apply bg-brand-blue hover:bg-brand-blue-400 active:bg-brand-blue-600;
  }
  .button.silver {
    @apply bg-brand-silver text-brand-black hover:bg-brand-silver-400 active:bg-brand-silver-600;
  }
  .button.cloud {
    @apply bg-brand-cloud text-brand-black border-brand-silver hover:bg-brand-cloud-400 active:bg-brand-cloud-600;
  }
  .button,
  .button.gray,
  .button.blue,
  .button.silver,
  .button.cloud {
    @apply disabled:bg-brand-silver disabled:text-brand-gray disabled:cursor-not-allowed disabled:opacity-70;
  }
  .button.large {
    @apply py-4.75;
  }
  .button svg {
    @apply size-5;
  }
  .text-input {
    @apply border border-brand-silver rounded-xl py-2.25 px-5 outline-offset-1;
  }
  .search-input {
    @apply bg-brand-cloud rounded-full py-3.5 pr-6 pl-13.5;
  }
  cart-drawer div[data-drawer] {
    @variant sm {
      right: calc((100% - 540px) / 2);
    }
    @variant md {
      right: calc((100% - 720px) / 2);
    }
    @variant lg {
      right: calc((100% - 960px) / 2);
    }
    @variant xl {
      right: calc((100% - 1140px) / 2);
    }
    @variant 2xl {
      right: calc((100% - 1300px) / 2);
    }
  }
  .splide__pagination button.splide__pagination__page {
    @apply bg-brand-gray-400! rounded-sm! transition-all! duration-500!;
  }
  .splide__pagination button.splide__pagination__page.is-active {
    @apply bg-brand-black! w-10!;
    transform: scale(1) !important;
  }
}
@layer utilities {
  .container {
    @apply transition-all;
    /* Apply default horizontal margin for centering */
    margin-inline: auto;
    /* Apply default horizontal padding */
    padding-inline: 1rem;

    /* Customize max-width at specific breakpoints using @variant */
    @variant sm {
      max-width: 540px;
    }
    @variant md {
      max-width: 720px;
    }
    @variant lg {
      max-width: 960px;
    }
    @variant xl {
      max-width: 1140px;
    }
    @variant 2xl {
      max-width: 1300px;
    }
  }

  .animate-cart {
    animation: jump 0.5s;
  }
}
/* Jump animation */
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
